@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

::selection {
  background-color: #abd373;
  color: #ffffff;
}

.primary-btn {
  border-radius: 32.5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #abd373;
  padding: 12px 15px;
  max-width: 35%;
  color: #fff;
  transition: all 0.4s;
  font-weight: 500;
}
.primary-btn:hover {
  transition: all 0.4s;
  background-color: #525252;
  color: #fff;
}

.dark-btn {
  background-color: #000;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 8px 16px;
  display: block;
  border-radius: 5px;
}

.swiper-button-prev {
  display: none;
}

.swiper-button-next {
  display: none;
}

.product-items .card-category {
  display: flex;
  justify-content: center;
}
.product-items .product-card .product-img_box {
  position: relative;
  overflow: hidden;
}
.product-items .product-card .product-img_box .hoverImg {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
}
.product-items .product-card .product-img_box .product-actions {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 25px;
}
.product-items .product-card .product-img_box .product-actions ul {
  display: flex;
  align-items: center;
  gap: 15px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.product-items .product-card .product-img_box .product-actions ul li {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: 10px;
  width: 40px;
  height: 40px;
  background: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #000;
  transition: all 0.3s;
}
.product-items .product-card .product-img_box .product-actions ul li:hover {
  color: #abd373;
  transition: all 0.3s;
}
.product-items .product-card .product-img_box:hover .hoverImg {
  opacity: 1;
}
.product-items .product-card .product-content .product-name {
  font-size: 18px;
}
.product-items .product-card .product-content .price {
  padding: 5px 0;
}
.product-items .product-card .product-content .price span {
  color: #abd373;
  font-size: 20px;
}
.product-items .product-card .rating ul {
  display: flex;
  align-items: center;
  gap: 5px;
}
.product-items .product-card .rating ul li {
  color: #ffe24d;
  cursor: pointer;
}
.product-items .product-card:hover .product-img_box .product-actions ul {
  opacity: 1;
  transition: all 0.3s;
  visibility: visible;
}

.primary-btn {
  border-radius: 32.5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #abd373;
  padding: 12px 15px;
  max-width: 35%;
  color: #fff;
  transition: all 0.4s;
  font-weight: 500;
}
.primary-btn:hover {
  transition: all 0.4s;
  background-color: #525252;
  color: #fff;
}

.dark-btn {
  background-color: #000;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 8px 16px;
  display: block;
  border-radius: 5px;
}

.swiper-button-prev {
  display: none;
}

.swiper-button-next {
  display: none;
}

.sidebar-nav {
  color: #fff;
  width: 350px;
  height: 100%;
  background: #333333;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
.sidebar-nav .sidebar-nav-top {
  padding: 10px 20px;
}
.sidebar-nav .close-btn {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
}
.sidebar-nav .sidebar-nav-content {
  padding: 120px 0px;
}
.sidebar-nav .contact-phone {
  background-color: #abd373;
  padding: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 10px;
  margin-right: 5px;
}
.sidebar-nav .contact-number {
  color: #fff;
  padding-left: 7px;
  transition: all 0.3s;
}
.sidebar-nav .contact-number:hover {
  transition: all 0.3s;
  color: #abd373;
}
.sidebar-nav .siderbar-nav-info .dropdown-container {
  height: 48px;
}
.sidebar-nav .siderbar-nav-info .dropdown-container .dropdown {
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar-nav .siderbar-nav-info .dropdown-container .dropdown .dropdown-btn {
  outline: none;
  border: none;
  line-height: 47.5px;
  background: none;
  color: #fff;
  font-size: 0.9rem;
}
.sidebar-nav .siderbar-nav-info .dropdown-container .dropdown .dropdown-btn i {
  font-size: 12px;
  display: inline-block;
  margin-left: 2px;
  vertical-align: 2px;
}
.sidebar-nav .siderbar-nav-info .dropdown-container .dropdown ul {
  background-color: #fff;
  padding: 15px 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  position: absolute;
  left: 0;
  top: 0%;
  transition: all 0.2s;
  opacity: 0;
  z-index: -1;
}
.sidebar-nav .siderbar-nav-info .dropdown-container .dropdown ul.show {
  transition: all 0.2s;
  top: 100%;
  visibility: visible;
  opacity: 1;
  z-index: 1;
}
.sidebar-nav .siderbar-nav-info .dropdown-container .dropdown ul a {
  color: #000;
  font-size: 0.9rem;
  padding: 0.5rem 2rem;
}
.sidebar-nav .siderbar-nav-info .dropdown-container .dropdown .lang-dropdown {
  left: 50%;
}
.sidebar-nav .mobile-nav {
  padding-top: 25px;
}
.sidebar-nav .mobile-nav .mobile-nav__item {
  padding: 15px 0;
}
.sidebar-nav .mobile-nav .mobile-nav__item .mobile-nav__link {
  padding: 5px 15px;
}
.sidebar-nav .mobile-nav .mobile-nav__item .sub-menu {
  background-color: rgba(255, 255, 255, 0.05);
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  transition: all 0.3s ease;
  transform: scaleY(0);
}
.sidebar-nav .mobile-nav .mobile-nav__item .sub-menu li {
  padding: 18px 14px;
}
.sidebar-nav .mobile-nav .mobile-nav__item .sub-menu.active {
  visibility: visible;
  opacity: 1;
  max-height: 500px;
  transition: all 0.3s ease;
  overflow: hidden;
  transform: scaleY(1);
  transform-origin: top center;
}
.sidebar-nav .mobile-nav .mobile-nav__link {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.bascet-sidebar {
  color: #333;
  max-width: 450px;
  min-height: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  right: -525px;
  z-index: 2;
  transition: all 0.5s ease;
}
.bascet-sidebar .bascet-sidebar-content {
  padding: 55px 25px;
}
.bascet-sidebar .bascet-sidebar-content .bascet-sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bascet-sidebar .bascet-sidebar-content .bascet-sidebar-header h4 {
  font-size: 25px;
}
.bascet-sidebar .bascet-sidebar-content .bascet-products {
  margin-top: 40px;
}
.bascet-sidebar .bascet-sidebar-content .bascet-product {
  position: relative;
  border-bottom: 1px solid rgba(68, 68, 68, 0.1764705882);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}
.bascet-sidebar .bascet-sidebar-content .bascet-product .img-link {
  width: 20%;
}
.bascet-sidebar .bascet-sidebar-content .bascet-product .remove-btn {
  top: 10px;
  font-size: 10px;
  right: 0;
  position: absolute;
}
.bascet-sidebar .bascet-sidebar-content .bascet-product .bascet-product-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.bascet-sidebar .bascet-sidebar-content .bascet-product .bascet-counter .count-btn {
  width: 20px;
  height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: none;
  padding: 15px;
  font-size: 18px;
}
.bascet-sidebar .bascet-sidebar-content .bascet-product .bascet-counter span {
  font-size: 18px;
}
.bascet-sidebar .bascet-sidebar-content .bascet-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bascet-sidebar .bascet-sidebar-content .bascet-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 50px;
}
.bascet-sidebar.active {
  right: 0;
  transition: all 0.5s ease;
}

.section-title {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.section-title .title-content h2 {
  text-transform: uppercase;
  position: relative;
  color: #393939;
  font-size: 36px;
  line-height: 27px;
  padding-left: 90px;
  padding-right: 90px;
  font-weight: 700;
  margin-bottom: 30px;
}
.section-title .title-content h2::before {
  background-color: #abd373;
  width: 70px;
  height: 2px;
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
}
.section-title .title-content h2::after {
  background-color: #abd373;
  width: 70px;
  height: 2px;
  position: absolute;
  content: "";
  top: 50%;
  left: auto;
  right: 0;
}

@media only screen and (max-width: 767px) {
  .section-title .title-content h2::before {
    display: none;
  }
  .section-title .title-content h2::after {
    display: none;
  }
}
#footer {
  background-image: url(https://htmldemo.net/pronia/pronia/assets/images/footer/bg/1-1920x465.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#footer .footer-top {
  padding-bottom: 60px;
  padding-top: 100px;
  border-bottom: 1px solid #ccc;
}
#footer .footer-top .footer-item .footer-widget .footer-logo {
  padding-bottom: 40px;
}
#footer .footer-top .footer-item .footer-widget .footer-text {
  margin-bottom: 40px;
}
#footer .footer-top .footer-item .footer-widget .icons-item {
  display: flex;
}
#footer .footer-top .footer-item .footer-widget .icons-item .icon-item {
  padding-right: 20px;
}
#footer .footer-top .footer-item .footer-widget .icons-item .icon-item a {
  border: 1px solid #000;
  width: 35px;
  height: 35px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
#footer .footer-top .footer-item .footer-widget .icons-item .icon-item a:hover {
  background-color: #abd373;
  transition: all 0.3s ease;
  color: #fff;
  border: none;
}
#footer .footer-top .footer-items li {
  padding-bottom: 5px;
}
#footer .footer-bottom {
  text-align: center;
  padding: 20px 0;
  color: #8dba87;
}

#header .top-header {
  background-color: #abd373;
  height: 48px;
  display: grid;
  place-items: center;
}
#header .top-header .top-header__left-side {
  height: 48px;
  display: flex;
  align-items: center;
}
#header .top-header .top-header__left-side span {
  color: #fff;
  text-transform: uppercase;
  font-weight: 4 0;
  font-size: 0.9rem;
}
#header .top-header .top-hedaer__right-side {
  height: 48px;
}
#header .top-header .top-hedaer__right-side .dropdown-container {
  height: 48px;
}
#header .top-header .top-hedaer__right-side .dropdown-container .dropdown {
  padding-left: 45px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .top-header .top-hedaer__right-side .dropdown-container .dropdown .dropdown-btn {
  outline: none;
  border: none;
  line-height: 47.5px;
  background: none;
  color: #fff;
  font-size: 0.9rem;
}
#header .top-header .top-hedaer__right-side .dropdown-container .dropdown .dropdown-btn i {
  font-size: 12px;
  display: inline-block;
  margin-left: 2px;
  vertical-align: 2px;
}
#header .top-header .top-hedaer__right-side .dropdown-container .dropdown ul {
  background-color: #fff;
  padding: 15px 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  position: absolute;
  left: 0;
  top: 0%;
  transition: all 0.2s;
  opacity: 0;
  z-index: -1;
}
#header .top-header .top-hedaer__right-side .dropdown-container .dropdown ul.show {
  transition: all 0.2s;
  top: 100%;
  visibility: visible;
  opacity: 1;
  z-index: 1;
}
#header .top-header .top-hedaer__right-side .dropdown-container .dropdown ul a {
  color: #000;
  font-size: 0.9rem;
  padding: 0.5rem 2rem;
}
#header .top-header .top-hedaer__right-side .dropdown-container .dropdown .lang-dropdown {
  left: 50%;
}
#header .middle-header {
  padding: 30px 0;
}
#header .middle-header .contact-phone {
  background-color: #abd373;
  padding: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 10px;
  margin-right: 5px;
}
#header .middle-header .contact-number {
  color: #4c4c4c;
  padding-left: 7px;
  transition: all 0.3s;
}
#header .middle-header .contact-number:hover {
  transition: all 0.3s;
  color: #abd373;
}
#header .middle-header .header-icons a {
  font-size: 1.1rem;
  color: #4c4c4c;
  transition: all 0.3s;
}
#header .middle-header .header-icons a:hover {
  transition: all 0.3s;
  color: #abd373;
}
#header .middle-header .header-icons .bascet-box {
  position: relative;
}
#header .middle-header .header-icons .bascet-box .bascet-link .count {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  font-size: 13px;
  color: #fff;
  border-radius: 30px;
  right: 0;
  left: 15px;
  bottom: 18px;
  position: absolute;
  background-color: #abd373;
}
#header .amount::before {
  content: " $";
}

#header .bottom-header {
  border-top: 1px solid #ccc;
}
#header .bottom-header nav .nav-items .nav-item {
  line-height: 50px;
  transition: all 0.4s;
  cursor: pointer;
  position: relative;
}
#header .bottom-header nav .nav-items .nav-item .dropdown {
  position: absolute;
  z-index: 1;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 15px 75px 15px 15px;
  text-align: left;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  transform: scaleY(0);
  transition: all 0.4s;
}
#header .bottom-header nav .nav-items .nav-item .dropdown .dropdown-link {
  color: #4c4c4c;
}
#header .bottom-header nav .nav-items .nav-item::after {
  content: "";
  width: 0%;
  height: 1px;
  background-color: #abd373;
  position: absolute;
  left: 0;
  top: 100%;
  transition: all 0.4s;
}
#header .bottom-header nav .nav-items .nav-item:hover::after {
  width: 100%;
}
#header .bottom-header nav .nav-items .nav-item:hover .nav-link {
  color: #abd373;
  transition: all 0.3s;
}
#header .bottom-header nav .nav-items .nav-item .nav-link {
  font-size: 0.9rem;
  color: #4c4c4c;
}
#header .bottom-header nav .nav-items .nav-item:hover .dropdown {
  position: absolute;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 15px 75px 15px 15px;
  text-align: left;
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
  transition: all 0.4s;
}
#header .bottom-header nav .nav-items .nav-item:hover .dropdown .dropdown-link {
  color: #4c4c4c;
}
#header .bottom-header nav .nav-items .shop {
  position: relative;
}
#header .bottom-header nav .nav-items .shop .multi-dropdown {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  position: absolute;
  left: -45px;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  width: 700px;
  transform: scaleY(0);
  transform-origin: top center;
  transition: all 0.4s;
  z-index: 2;
}
#header .bottom-header nav .nav-items .shop .multi-dropdown .multi-dropdown-items {
  font-size: 14px;
  padding: 25px;
}
#header .bottom-header nav .nav-items .shop .multi-dropdown .multi-dropdown-items .multi-dropdown-item li {
  margin-left: 0px;
  white-space: nowrap;
  transition: all 0.4s;
}
#header .bottom-header nav .nav-items .shop .multi-dropdown .multi-dropdown-items .multi-dropdown-item li:hover {
  margin-left: 5px;
  transition: all 0.4s;
}
#header .bottom-header nav .nav-items .shop .multi-dropdown .multi-dropdown-items .multi-dropdown-item li:hover .multi-dropdown-link {
  color: #abd373;
}
#header .bottom-header nav .nav-items .shop .multi-dropdown .multi-dropdown-link {
  color: #4c4c4c;
  transition: all 0.3s;
}
#header .bottom-header nav .nav-items .shop:hover .multi-dropdown {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  position: absolute;
  left: -45px;
  background-color: #fff;
  opacity: 1;
  width: 700px;
  transform: scaleY(1);
  transform-origin: top center;
  visibility: visible;
  transition: all 0.3s;
}

#slider {
  min-height: 100vh;
  background-color: #F9EFE9;
}
#slider .slider-content {
  min-height: 100vh;
}
#slider .slider-leftside {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  transition: all 0.2s;
}
#slider .slider-leftside .slider-title {
  font-size: 5rem;
}
#slider .slider-leftside .slider-desc {
  font-size: 1rem;
  padding-bottom: 20px;
}
#slider .slider-leftside .offer {
  display: block;
  font-size: 2rem;
}
#slider .slider-rightside img {
  transition: all 0.3s;
}
#slider .arrows {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
}
#slider .arrows button {
  display: block;
  padding: 15px;
  border: none;
  outline: none;
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.overlay {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  z-index: 1;
  display: none;
}
.overlay.active {
  display: block;
}

#service {
  padding-top: 100px;
  padding-bottom: 100px;
}
#service .service-item {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 25px 30px;
  gap: 20px;
  border: 1px dashed #abd373;
}
#service .service-item h2 {
  font-size: 20px;
}

#products .categories {
  padding: 50px 0;
}
#products .categories .categories-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
#products .categories .categories-items .categories-link {
  display: block;
  border: 1px solid #ccc;
  padding: 10px 25px;
  border-radius: 4px;
  transition: all 0.3s;
}
#products .categories .categories-items .categories-link.active {
  border: 1px dashed #abd373;
  transition: all 0.3s;
  color: #abd373;
}
#products .categories .categories-items .categories-link:hover {
  border: 1px dashed #abd373;
  transition: all 0.3s;
  color: #abd373;
}

#banners {
  padding: 90px 0;
}
#banners .banner {
  position: relative;
}
#banners .banner .banner-img img {
  width: 100%;
}
#banners .banner .banner-content {
  position: absolute;
  top: 50px;
  left: 70px;
}
#banners .banner .banner-content .banner-title {
  font-size: 36px;
  margin: 25px 0;
}
#banners .banner .banner-content a {
  max-width: 100%;
}

#say-client {
  background-image: url(https://htmldemo.net/pronia/pronia/assets/images/testimonial/bg/1-1-1820x443.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#say-client .section-title {
  padding-top: 120px;
}
#say-client .swiper-pagination {
  position: relative;
  padding-top: 60px;
}
#say-client .swiper-pagination-bullet {
  padding: 5px;
}
#say-client .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #abd373;
  position: relative;
}
#say-client .user-item {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 40px 50px;
  position: relative;
  border-radius: 20px;
}
#say-client .user-item .comment {
  position: absolute;
  top: 0;
  background-color: #abd373;
  border-radius: 7px 0px 0px 160px;
  right: 0;
}
#say-client .user-item .comment img {
  padding: 30px;
  color: #fff;
}
#say-client .user-item .user-name h4 {
  padding: 10px 0;
}

#company {
  padding: 50px 0;
}
#company .company-content {
  background-image: url(https://htmldemo.net/pronia/pronia/assets/images/brand/bg/1-1170x300.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 10px;
  padding: 90px;
}
#company .company-content .swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#company .company-content .swiper-slide img {
  cursor: pointer;
}

#blog .swiper-slide {
  width: 2000px;
}
#blog .blog-item {
  background-color: #f6f7fb;
  padding: 35px 30px 40px 30px;
  border-radius: 10px;
}
#blog .blog-item .blog-link {
  font-size: 20px;
  font-weight: 700;
  padding: 20px 0;
}
#blog .blog-item .blog-title p {
  margin-top: 15px;
  margin-bottom: 40px;
}
#blog .blog-item .blog-img img {
  width: 100%;
}

.scroll-top {
  position: fixed;
  bottom: 8px;
  right: 8px;
  border-radius: 10px;
  width: 45px;
  height: 45px;
  background-color: #000;
  color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1200px) {
  #banners .banner .banner-content .banner-title {
    font-size: 20px;
    margin: 20px 0;
  }
}
@media only screen and (max-width: 991px) {
  #slider .slider-leftside {
    align-items: center;
  }
  #slider .slider-leftside .slider-title {
    font-size: 65px;
  }
  #slider .slider-leftside .slider-desc {
    font-size: 18px;
    padding-bottom: 20px;
  }
  #slider .slider-leftside .offer {
    font-size: 30px;
  }
  #slider .slider-rightside img {
    width: 50%;
  }
  #slider .arrows {
    display: none;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
  }
  #banners .banner .banner-content .banner-title {
    font-size: 25px;
    margin: 20px 0;
  }
}
@media only screen and (max-width: 767px) {
  #slider {
    min-height: 15vh;
  }
  #slider .slider-content {
    position: relative;
    min-height: 0;
    padding: 45px 0;
  }
  #slider .slider-leftside {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 15px;
  }
  #slider .slider-leftside .slider-title {
    font-size: 45px;
  }
  #slider .slider-leftside .slider-desc {
    font-size: 18px;
    padding-bottom: 20px;
  }
  #slider .slider-leftside .offer {
    font-size: 20px;
  }
  #slider .slider-rightside {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #slider .arrows {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 15px;
    gap: 25px;
  }
  #slider .arrows button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: none;
    outline: none;
    width: 0;
    height: 0;
    padding: 7px;
    background-color: #abd373;
    color: #abd373;
  }
  #slider .arrows button::before {
    border-radius: 100%;
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #abd373;
    color: transparent;
    opacity: 0;
  }
  #slider .arrows button.active::before {
    opacity: 1;
  }
  #banners .banner {
    position: relative;
  }
  #banners .banner .banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #banners .banner .banner-content span {
    font-size: 18px;
  }
  #banners .banner .banner-content .banner-title:nth-child(even) {
    text-align: center;
    color: red;
  }
  #banners .banner .banner-content .banner-title:nth-child(odd) {
    text-align: center;
    color: blue;
  }
}
@media only screen and (max-width: 576px) {
  #banners .banner .banner-content span {
    font-size: 12px;
  }
  #banners .banner .banner-content .banner-title {
    text-align: center;
    font-size: 17px;
    margin: 10px 0;
  }
  #banners .banner .banner-content a {
    font-size: 10px;
    padding: 8px 10px;
  }
}/*# sourceMappingURL=main.css.map */