.primary-btn {
  border-radius: 32.5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
  padding: 12px 15px;
  max-width: 35%;
  color: #fff;
  transition: all 0.4s;
  font-weight: 500;
  &:hover {
    transition: all 0.4s;

    background-color: #525252;
    color: #fff;
  }
}

.dark-btn {
  background-color: #000;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 8px 16px;
  display: block;
  border-radius: 5px;
}

.swiper-button-prev {
  display: none;
}

.swiper-button-next {
  display: none;
}
