.section-title {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .title-content {
    h2 {
      text-transform: uppercase;
      position: relative;
      color: #393939;
      font-size: 36px;
      line-height: 27px;
      padding-left: 90px;
      padding-right: 90px;
      font-weight: 700;
      margin-bottom: 30px;

      &::before {
        background-color: #abd373;
        width: 70px;
        height: 2px;
        position: absolute;
        content: '';
        top: 50%;
        left: 0;
      }
      &::after {
        background-color: #abd373;
        width: 70px;
        height: 2px;
        position: absolute;
        content: '';
        top: 50%;
        left: auto;
        right: 0;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .section-title {
    .title-content {
      h2 {
        &::before {
          display: none;
        }
        &::after {
          display: none;
        }
      }
    }
  }
}
