#header {
  .top-header {
    background-color: $primary-color;
    height: 48px;
    display: grid;
    place-items: center;

    .top-header__left-side {
      height: 48px;
      display: flex;
      align-items: center;
      span {
        color: #fff;
        text-transform: uppercase;
        font-weight: 4 00;
        font-size: 0.9rem;
      }
    }
    .top-hedaer__right-side {
      height: 48px;
      .dropdown-container {
        height: 48px;
        .dropdown {
          padding-left: 45px;
          height: 48px;
          display: flex;
          justify-content: center;
          align-items: center;
          .dropdown-btn {
            outline: none;
            border: none;
            line-height: 47.5px;
            background: none;
            color: #fff;
            font-size: 0.9rem;
            i {
              font-size: 12px;
              display: inline-block;
              margin-left: 2px;
              vertical-align: 2px;
            }
          }
          ul {
            background-color: #fff;
            padding: 15px 0;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
              rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
            position: absolute;
            left: 0;
            top: 0%;
            transition: all 0.2s;
            opacity: 0;
            z-index: -1;

            &.show {
              transition: all 0.2s;
              top: 100%;
              visibility: visible;
              opacity: 1;
              z-index: 1;
            }
            a {
              color: #000;
              font-size: 0.9rem;
              padding: 0.5rem 2rem;
            }
          }
          .lang-dropdown {
            left: 50%;
          }
        }
      }
    }
  }

  .middle-header {
    .contact-phone {
      background-color: $primary-color;
      padding: 15px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      border-radius: 10px;
      margin-right: 5px;
    }
    .contact-number {
      color: $secondary-color;
      padding-left: 7px;
      transition: all 0.3s;
      &:hover {
        transition: all 0.3s;
        color: $primary-color;
      }
    }
    padding: 30px 0;
    .header-icons {
      a {
        font-size: 1.1rem;
        color: $secondary-color;
        transition: all 0.3s;

        &:hover {
          transition: all 0.3s;
          color: $primary-color;
        }
      }
      .bascet-box {
        position: relative;
        .bascet-link {
          .count {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 18px;
            height: 18px;
            font-size: 13px;
            color: #fff;
            border-radius: 30px;
            right: 0;
            left: 15px;
            bottom: 18px;
            position: absolute;
            background-color: $primary-color;
          }
        }
      }
    }
  }
}
